<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ankit-Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="index.html">Ankit Lachhwani</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>I'm a passionate <span>content writer</span> from Nashik</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="http://medium.com/@ankit-lachhwani" class="facebook" target="_blank"><i class="bi bi-medium"></i></a>
        <a href="https://instagram.com/_maverick_quotes?igshid=MzRlODBiNWFlZA==" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/ankit-lachhwani-819a6ba4/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="../static/assets/img/ankit-me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>SEO Content Writer</h3>
          <p class="fst-italic">
            Experienced SEO content writer and certified professional specializing in performance marketing, blogging, 
            and organic traffic generation. Skilled in curating Salesforce resumes, email marketing, and social media management.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>6 May 1995</span></li>
                <!--<li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>-->
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 9561052121</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Nashik, India</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>28</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelors</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>ankit.lachhwani6@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p>
            An accomplished SEO content writer with a passion for driving online success. 
            With certifications in SEO fundamentals and LinkedIn SEO, I have a solid foundation in optimizing content for maximum visibility. 
            Over the years, I have successfully delivered over 100 SEO-optimized blogs, focusing on automation and boosting businesses' productivity. 
            As a key player in generating organic traffic, I have honed my skills in curating Salesforce resumes and supporting email marketing campaigns.
             Additionally, I have experience in academic content writing and social media management. 
            I am dedicated to crafting engaging and impactful content that delivers results.</p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">SEO certified (Semrush and LinkedIN)<i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Copywriting (Spec Ads) <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Social Media Management<i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">SEO Blogging<i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Email Marketing<i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Creative Writing <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->

    

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Ankit Lachhwani</h4>
            <p><em>Experienced SEO content writer and certified professional specializing in performance marketing, blogging, and organic traffic generation. Skilled in curating Salesforce resumes, email marketing, and social media management.</em></p>
            <p>
            <ul>
              <li>Nashik, India</li>
              <li>+91 9561052121</li>
              <li>ankit.lachhwani6@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelors of Commerce  &amp; Fine Arts</h4>
            <h5>2015 - 2018</h5>
            <p><em>Savitribhai Phule University, Pune</em></p>
            <p>As a commerce student, I have acquired a comprehensive understanding of business principles and a keen analytical mindset. My time in college provided me with a solid foundation in areas such as management, accounting, economics, and costing, which has contributed to my ability to approach projects with a strategic and results-oriented mindset.</p>
          </div>
          <!--<div class="resume-item">
            <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
            <h5>2010 - 2014</h5>
            <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
            <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
          </div>-->
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>SEO Content Writer</h4>
            <h5>2022 - Present</h5>
            <p><em>CompanyHub and Integrately, Nashik</em></p>
            <p>
            <ul>
              <li>Successfully delivered 100+ SEO-optimized blogs on
                automation and boosting the productivity of businesses.
                Key player in generating organic traffic</li>
              <li>Curated Salesforce Resumes of Developers in Integrately's
                parent company - Dreamwares.</li>
              <li>Supported in drafting emails for newly rolled out updates
                in automation software (Integrately).</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Academic Content Writing</h4>
            <h5>2022 - 2022</h5>
            <p><em>Zucol Services, Pune</em></p>
            <p>
            <ul>
              <li>Performed research and helped UK and Australian clients
                to draft 150+ academic articles on management,
                accounting, economics and costing.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Social Media Writer and Content Manager</h4>
            <h5>2022 - 2022</h5>
            <p><em>Elite Socio Marketing Services, Nashik</em></p>
            <p>
            <ul>
              <li>Created Content calendars and wrote content for social
                media marketing for clients from Pharma, Fashion and
                Agricultural Sector.</li>
            </ul>
            </p>
          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Personal Projects</h3>
            <div class="resume-item pb-0">
              <h4>Samvaad (NGO)</h4>
              <p>Managed end to end social media projects with proper understanding of algorithms to effectively create traffic and boost marketing</p>
             
            </div>

        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>Nashik, Maharshtra, India.</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="http://medium.com/@ankit-lachhwani" class="facebook"  target="_blank"><i class="bi bi-medium"></i></a>
              <a href="https://instagram.com/_maverick_quotes?igshid=MzRlODBiNWFlZA==" class="instagram"  target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/ankit-lachhwani-819a6ba4/" class="linkedin"  target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>ankit.lachhwani6@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+91 9561052121</p>
          </div>
        </div>
      </div>

     

    </div>
  </section><!-- End Contact Section -->

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>